In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('datathon_train.csv',header=None)

In [3]:
df.describe()

                   1
count  100860.000000
mean        0.322378
std         0.467389
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [4]:
df.head()

                                                   0  1
0  https://www.peoplescollection.wales/discover/w...  0
1  http://yasli-sad.ru/css/chase/chaseall%20newin...  1
2  http://denizkent.net/wp-admin/js/login.alibaba...  1
3  http://www.marketbiz.net/mbz/wp-includes/js/jq...  1
4  http://guardiaoitau30horas.uniclassdispositivo...  1

In [7]:
df[0]=df[0].apply(lambda x:x.replace("://"," "))
df[0]=df[0].apply(lambda x:x.replace("/"," "))
df[0]=df[0].apply(lambda x:x.replace("."," "))
df[0]=df[0].apply(lambda x:x.replace("-"," "))
df[0]=df[0].apply(lambda x:x.replace("%20"," "))
df.head()

                                                   0  1
0  https www peoplescollection wales discover wha...  0
1  http yasli sad ru css chase chaseall newinfo_a...  1
2   http denizkent net wp admin js login alibaba com  1
3  http www marketbiz net mbz wp includes js jque...  1
4  http guardiaoitau30horas uniclassdispositivos ...  1

In [8]:
df.shape

(100860, 2)

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
vector=vectorizer.fit_transform(df[0])

In [10]:
vector.shape

(100860, 170198)

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer1 = TfidfVectorizer()
vector1=vectorizer1.fit_transform(df[0])

In [12]:
vector1.shape

(100860, 170198)

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(vector, df[1], test_size=0.2, random_state=42)

In [45]:
from sklearn.ensemble import RandomForestClassifier  
classifier= RandomForestClassifier(n_estimators= 10, criterion="entropy")  
classifier.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [46]:
classifier.score(X_test,y_test)

0.9191453499900852

In [47]:
X_train1, X_test1, y_train1, y_test1 = train_test_split(vector1, df[1], test_size=0.2, random_state=42)

In [48]:
classifier1= RandomForestClassifier(n_estimators= 10, criterion="entropy")  
classifier1.fit(X_train1, y_train1)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [49]:
classifier1.score(X_test1,y_test1)

0.9262839579615308